Config(
    cursor: Cursor(
        sensitivity: 1.0,
        trail_time: 0.4,
        fade_time: 0.2,
    ),
    weapon: Weapon(
        acceleration: 50.0,
        swing_boost: 1.5,
        speed_max: 7.0,
        power_min: 1.0,
        power_max: 5.0,
    ),
    player: Player(
        walk_speed: 3.0,
        acceleration: 10.0,
    ),
    controls: Controls(
        attack: [Mouse(Left)],
        defend: [Mouse(Right)],
        up: [Key(W), Key(ArrowUp)],
        down: [Key(S), Key(ArrowDown)],
        left: [Key(A), Key(ArrowLeft)],
        right: [Key(D), Key(ArrowRight)],
    ),
    palette: Palette(
        idle: "#fff",
        attack: "#f00",
        defend: "#00f",
    ),
)
